11.1

In [1]:
from zoo import hours

hours()

Open 9-5 Daily

11.2

In [4]:
import zoo as menagerie

hours()

Open 9-5 Daily

16.8

In [9]:
import sqlite3
conn = sqlite3.connect('books.db', timeout= 10)
curs = conn.cursor()
#curs.execute('''CREATE TABLE books (title TEXT, author TEXT, year INT)''')
#curs.execute('''DROP TABLE books''')
ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'
curs.execute(ins, ("The Weirdstone of Brisingamen", "Alan Garner", 1960))
curs.execute(ins, ("Perdido Street Station", "China Mi√©ville", 2000))
curs.execute(ins, ("Thud!", "Terry Pratchett", 2005))
curs.execute(ins, ("The Spellman Files", "Lisa Lutz", 2007))
curs.execute(ins, ("Small Gods", "Terry Pratchett",1992))

curs.execute('SELECT title from books ORDER BY title')
rows = curs.fetchall()
print(rows)

curs.close()
conn.close()

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]